.btns button{
    padding: 0.7em;
    margin: 1em;
    font-size: 0.9rem;
    background: transparent;
    font-weight: bold;
    border: 2px solid white;
    color: #f0f0f0;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
    &:hover{
        color: #1e293b;
        background-color: #38bdf8;
        box-shadow: 0 2px 8px rgba(56,189,248,0.08);
        
    }
}
.btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.question{
    /* box-shadow: 0 2px 8px rgba(143, 143, 143, 0.733); */
    border-bottom: 1px solid #334155;
    padding: 0 15px;
}

/* .question h3 { margin-bottom: 20px; } */

.btns button:hover { filter: brightness(1.1); }
.question-text {
  font-family: 'Orbitron', sans-serif; 
  font-size: 1.2rem;
  color: #c9e6ff; /* neon blue */
  margin-bottom: 05px;
  text-shadow: 0 0 6px rgba(79, 172, 254, 0.322), 0 0 12px rgba(26, 232, 243, 0.151);
  letter-spacing: 0.5px;
}


